html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.img-acciona{
  position: absolute;
  bottom: 3%;
  height: 30%;
  left: 3%;
}

.img-orange{
  position: absolute;
  bottom: 10%;
  height: 20%;
  left: 80%;
}

.img-5g{
  position: absolute;
  bottom: 3%;
  height: 35%;
  left: 30%;
}

#left-column{
  position: absolute;
  left: 0%;
  height: 70%;
  width: 40%;
  padding-left: 5%;
  padding-top: 5%;
}

#right-column{
  position: absolute;
  left: 50%;
  height: 70%;
  width: 40%;
  padding-left: 5%;
  padding-top: 5%;
}

.item{
  font-size: 2.5em;
  font-weight: bold;
}
